/** Home page style  ***/

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    height: 10vh;
}

a {
    text-decoration: none;
}

nav a {
    color: rgb(109, 108, 108);
    padding: 1vw;
}

nav a:hover {
    color: white;
}

.banner {
    background-color: aqua;
}

.carousel-item img {
    height: 90vh;
}

.banner_heading>* {
    color: white;
    background-color: rgba(26, 26, 26, 0.743);
    padding: 20px 0;
}

.banner_heading h2 {
    margin: 20px 0;
}

.banner_heading {
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 10%;
}


/* About Page Style */
.about,
.services,
.where {
    max-width: 700px;
}

.about h2,
.services h2,
.where h2 {
    text-align: center;
    margin: 20px 0;
    background-color: black;
    color: gray;
    padding: 10px;
}

.about p {

    margin: 0 auto;
    text-align: center;

}

.testimony {
    margin: 30px 0;
    padding: 40px;
}

.testimony h3 {
    text-align: center;
}

.testimony p {
    text-align: left;
    padding: 10px 0;
    width: 350px;
    color: aliceblue;
}

.testimony .carousel-inner {
    height: 300px;
    background-color: rgb(82, 82, 82);
}

.testimony .carousel-item {
    padding: 60px;
    font-size: 16px;

}

.info p {
    text-align: left;

}

/* Style Services Pg*/

.service-container,
.hours-container,
.form-container,
.location-container {

    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0;
}

.service-container h3,
.hours-container h3 {
    text-align: center;
    background-color: gray;
    margin-bottom: 30px;
    padding: 10px;

}

.days {
    font-size: 20px;
    font-weight: 500;
}

/* Styling Where page */
.form-container span,
form button {
    background-color: black;
    color: white;
    padding: 3px 6px;
}

form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
}

form input {
    padding: 15px;
}
.location-container .map img{
    width: 100%;

}
.location-container .gallery img{
    width: 100%;
    margin-top: 30px;
}