header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;

}

a{
    text-decoration: none;
   

}
nav a{
    color: rgb(109, 108, 108);
    padding: 1vw;
}
nav a:hover{
    color: white;
}

.banner{
    background-color: aqua;
}
.carousel{
    height: 50vh;
}


/* About Page Style */
.about h2{
    text-align: center;
    margin: 20px 0;
    background-color: rgb(167, 166, 166);
    padding: 10px;
}